body {
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 50px auto 50px auto;
    text-align: center;
}

h1 {
    color: hsl(229, 23%, 23%);
    font-size: 20px;
}

h2 {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
}

hr {
    border-style: solid;
    opacity: 0.2;
    border-width: 0.1px;
    border-color: hsl(227, 10%, 46%);
    width: 90%;
}

.pattern-top {
    position: fixed;
    left: -300px;
    top: -600px;
    z-index: -1;
}

.pattern-bottom {
    position: fixed;
    left: 600px;
    top: 200px;
    z-index: -1;
}

.pattern-card {
    background-image: url('../images/bg-pattern-card.svg');
    border-radius: 15px 15px 0 0;
    width: 350px;
    height: 140px;
}

.profile-photo {
    border-radius: 50%;
    width: 32%;
    position: relative;
    bottom: 60px;
    /* padding: 6px;
    background-color: #fff; */
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.profile-information {
    margin-top: -45px;
}

.profile {
    text-align: center;
    margin: 50px auto 50px auto;
    background-color: #fff;
    width: 350px;
    /* height: 400px; */
    border-radius: 15px;
    padding: auto;
}

.metrics-row {
    /* padding: 7%; */
}

.metrics {
    display: inline-block;
    padding: 6%;
}

.metric-number {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 20px;
    padding-bottom: 20%;
    padding-top: 2%;
}

.metric-text {
    font-size: 0.5rem;
    color: hsl(227, 10%, 46%);
    font-size: 10px;
}

.age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 17px;
    padding-left: 6px
}